.navbar{
    box-shadow: -2px -1px 20px 0px;
    border-radius: .5em;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.5em;
    margin-left: 2em;
}
.navbar-brand{
    font-size: 2em!important;
}