@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.App {
  position: relative;
  background-color: lavender;
  font-family: "Rubik", sans-serif !important;
}
.btn {
  background-color: #275622e0;
  border-color: #275622e0;

  &:hover {
    background-color: #fff;
    color: #275622e0;
    border-color: #22411f;
  }
}

@media only screen and (max-width: 576px){
    .row{
        justify-content: center;
    }
}